{% extends 'adminbase.html' %} {% block content %}

<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        {% comment %}
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Hyper</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Projects</li>
          </ol>
        </div>
        {% endcomment %}
        <h4 class="page-title">Home</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div class="row">
    <div class="col-12">
      <div class="card widget-inline">
        <div class="card-body p-0">
          <div class="row g-0">
            <div class="col-sm-6 col-xl-3">
              <div class="card shadow-none m-0">
                <div class="card-body text-center">
                  <i
                    class="dripicons-briefcase text-muted"
                    style="font-size: 24px"
                  ></i>
                  <h3><span>29</span></h3>
                  <p class="text-muted font-15 mb-0">Total Projects</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-xl-3">
              <div class="card shadow-none m-0 border-start">
                <div class="card-body text-center">
                  <i
                    class="dripicons-checklist text-muted"
                    style="font-size: 24px"
                  ></i>
                  <h3><span>715</span></h3>
                  <p class="text-muted font-15 mb-0">Total Tasks</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-xl-3">
              <div class="card shadow-none m-0 border-start">
                <div class="card-body text-center">
                  <i
                    class="dripicons-user-group text-muted"
                    style="font-size: 24px"
                  ></i>
                  <h3><span>31</span></h3>
                  <p class="text-muted font-15 mb-0">Members</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-xl-3">
              <div class="card shadow-none m-0 border-start">
                <div class="card-body text-center">
                  <i
                    class="dripicons-graph-line text-muted"
                    style="font-size: 24px"
                  ></i>
                  <h3>
                    <span>93%</span>
                    <i class="mdi mdi-arrow-up text-success"></i>
                  </h3>
                  <p class="text-muted font-15 mb-0">Productivity</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
      <!-- end card-box-->
    </div>
    <!-- end col-->
  </div>



  {% comment %} <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body"> {% endcomment %}
          {% comment %}
          <div class="row mb-2">
            <div class="col-sm-4">
              <a href="javascript:void(0);" class="btn btn-danger mb-2"
                ><i class="mdi mdi-plus-circle me-2"></i> Add Customers</a
              >
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success mb-2 me-1">
                  <i class="mdi mdi-cog"></i>
                </button>
                <button type="button" class="btn btn-light mb-2 me-1">
                  Import
                </button>
                <button type="button" class="btn btn-light mb-2">Export</button>
              </div>
            </div>
            <!-- end col-->
          </div>
          {% endcomment %}

          {% comment %} <div class="table-responsive">
            <table
              class="
                table table-centered table-striped
                dt-responsive
                nowrap
                w-100
              "
              id="products-datatable"
            >
              <thead>
                <tr>
                  <th style="width: 20px">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheck1"
                      />
                      <label class="form-check-label" for="customCheck1"
                        >&nbsp;</label
                      >
                    </div>
                  </th>
                  <th>Customer</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Location</th>
                  <th>Create Date</th>
                  <th>Status</th>
                  <th style="width: 75px">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheck13"
                      />
                      <label class="form-check-label" for="customCheck13"
                        >&nbsp;</label
                      >
                    </div>
                  </td>
                  <td class="table-user">
                    <img
                      src="/static/assets/images/users/avatar-2.jpg"
                      alt="table-user"
                      class="me-2 rounded-circle"
                    />
                    <a href="javascript:void(0);" class="text-body fw-semibold"
                      >Rory Seekamp</a
                    >
                  </td>
                  <td>078 5054 8877</td>
                  <td>roryamp@dayrep.com</td>
                  <td>United States</td>
                  <td>03/24/2018</td>
                  <td>
                    <span class="badge badge-danger-lighten">Blocked</span>
                  </td>

                  <td>
                    <a href="javascript:void(0);" class="action-icon">
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a href="javascript:void(0);" class="action-icon">
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- end card-body-->
      </div>
      <!-- end card-->
    </div>
    <!-- end col -->
  </div> {% endcomment %}


<div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Weekly Report</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Monthly Report</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                                            </div>
                                        </div>
                                        <h4 class="header-title mb-3">Tasks</h4>

                                        <p><b>107</b> Tasks completed out of 195</p>

                                        <div class="table-responsive">
                                            <table class="table table-centered table-nowrap table-hover mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-14 my-1"><a href="javascript:void(0);" class="text-body">Coffee detail page - Main Page</a></h5>
                                                            <span class="text-muted font-13">Due in 3 days</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Status</span> <br/>
                                                            <span class="badge badge-warning-lighten">In-progress</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Assigned to</span>
                                                            <h5 class="font-14 mt-1 fw-normal">Logan R. Cohn</h5>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Total time spend</span>
                                                            <h5 class="font-14 mt-1 fw-normal">3h 20min</h5>
                                                        </td>
                                                        <td class="table-action" style="width: 90px;">
                                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-14 my-1"><a href="javascript:void(0);" class="text-body">Drinking bottle graphics</a></h5>
                                                            <span class="text-muted font-13">Due in 27 days</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Status</span> <br/>
                                                            <span class="badge badge-danger-lighten">Outdated</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Assigned to</span>
                                                            <h5 class="font-14 mt-1 fw-normal">Jerry F. Powell</h5>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Total time spend</span>
                                                            <h5 class="font-14 mt-1 fw-normal">12h 21min</h5>
                                                        </td>
                                                        <td class="table-action" style="width: 90px;">
                                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-14 my-1"><a href="javascript:void(0);" class="text-body">App design and development</a></h5>
                                                            <span class="text-muted font-13">Due in 7 days</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Status</span> <br/>
                                                            <span class="badge badge-success-lighten">Completed</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Assigned to</span>
                                                            <h5 class="font-14 mt-1 fw-normal">Scot M. Smith</h5>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Total time spend</span>
                                                            <h5 class="font-14 mt-1 fw-normal">78h 05min</h5>
                                                        </td>
                                                        <td class="table-action" style="width: 90px;">
                                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-14 my-1"><a href="javascript:void(0);" class="text-body">Poster illustation design</a></h5>
                                                            <span class="text-muted font-13">Due in 5 days</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Status</span> <br/>
                                                            <span class="badge badge-warning-lighten">In-progress</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Assigned to</span>
                                                            <h5 class="font-14 mt-1 fw-normal">John P. Ritter</h5>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Total time spend</span>
                                                            <h5 class="font-14 mt-1 fw-normal">26h 58min</h5>
                                                        </td>
                                                        <td class="table-action" style="width: 90px;">
                                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                                            <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->



                        

</div>

{% endblock content %}
